body {
    padding-top: 70px;
    margin: 0;
}

.maincontainer {
    min-height: calc(100vh - 150px);
}

.vignette {
    width: 250px;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}

.vignettecommande {
    width: 100px;
}